<main class="contenedor">
    <form action="/restablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>Correo:</label>
            <input type="email" name="email" placeholder="tu email">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-session">Volver iniciar session</a>
        </div>
        <div class="campo">
           <input type="submit" value="Restablecer" class="btn btn-azul">
        </div>
    </form>
</main>